:root {
    --color-1:#0f1016;
    --text-color:#ffffff;
    --accent-color:#006aff;
}
nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: 0.3s ease-in;
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}



.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

   
}

//адаптив
@media (max-width: 450px) {
     /* Mobile */
     .links-container {
        
        flex-direction: column;
        align-items: flex-start;
  
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
  
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.4s ease-out;
      }
      nav a {
          box-sizing: border-box;
          height: auto;
          width: 100%;
          padding: 20px;

      }
      .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}
